{% extends "register/base.html" %}
{% load static %}
{% block content %}

<section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
   <div class="container">
      <div class="d-sm-flex align-items-center justify-content-between">
         <div>
            <h1>Hunting for<span id="carouselText"> Jobs?</span></h1>
            <p class="lead my-4">Place<span id="carouselText">IT</span> is your one-stop solution to all placement related needs. We work with companies & placement/training cells to find the best possible match between employers and employees.
            </p>
            <button class="btn btn-primary btn-lg">Get Started!</button>
         </div>
         <img src="{% static 'images/job_hunt_main.svg' %}">
      </div>
   </div>
</section>


<!-- Boxes to show featured companies-->
<!-- <section class="p-5">
   <div class="container">
      <div class="row text-center">
         <div class="col-md">
            <div class="card bg-dark text-light">
               <img src="{% static 'images/job_hunt.svg' %} class="card-img-top" alt="recruiter/portfolio.svg">
               <div class="card-body">
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
               </div>
             </div>
         </div>
         <div class="col-md">
            <div class="card bg-dark text-light ">
               <img src="recruiter/interview.svg" class="card-img-top" alt="recruiter/portfolio.svg">
               <div class="card-body">
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
               </div>
             </div>
         </div>
         <div class="col-md">
            <div class="card bg-dark text-light">
               <img src="recruiter/portfolio.svg" class="card-img-top" alt="recruiter/portfolio.svg">
               <div class="card-body">
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
               </div>
             </div>
         </div>
      </div>
   </div>
</section> -->

<!-- Carousel  -->
<section class="bg-light text-dark p-5 text-center text-sm-start" style="min-height: 50vh;">
   <div class="abovecar pb-5 bg-light text-dark">
      Heres a few things to explore while you're here..
   </div>
   <div id=outsidecar class="bg-light">
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
         <div class="carousel-indicators">
           <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
           <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
           <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
         </div>
         <div class="carousel-inner">
           <div class="carousel-item active" data-bs-interval="10000">
             <img src="{% static 'images/portfolio.svg' %}" class="d-block w-100" alt="assets/portfolio.svg">
             <div class="carousel-caption">
               <h5>Showcase your Portfolio</h5>
               <p></p>
             </div>
           </div>
           <div class="carousel-item" data-bs-interval="2000">
             <img src="{% static 'images/undraw_hiring_re_yk5n.svg' %}" class="d-block w-100" alt="assets/portfolio.svg">
             <div class="carousel-caption">
               <h5>List Hiring Details</h5>
               <p></p>
             </div>
           </div>
           <div class="carousel-item">
             <img src="{% static 'images/worktime.svg' %}" class="d-block w-100" alt="assets/portfolio.svg">
             <div class="carousel-caption">
               <h5>Conduct Interviews & Meetings</h5>
               <p></p>
             </div>
           </div>
         </div>
         <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           <span class="visually-hidden">Previous</span>
         </button>
         <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="visually-hidden">Next</span>
         </button>
       </div>
   </div>
</section>
{% endblock %}