<!DOCTYPE html>
<html>
   <body>
      <head>
         <title>New Post</title>
      </head>
      <p>Add job details:</p>
      <form method="post">
         {% csrf_token %}
         Company Name:<br> <input type="text" name="company">
         <br>
         Position:<br> <input type="text" name="position">
         <br>
         <!-- Expiry date:<br> <input type="datetime-local" id="expiry"
         name="expiry" value="2018-06-12T19:30"
         min="2018-06-07T00:00" max="2023-06-14T00:00">
         <br> -->

         <label for="skills">Required Skills:</label><br>

         <input type="checkbox" id="skill1" name="skills" value="Python">
         <label for="skill1"> Python</label><br>
         <input type="checkbox" id="skill2" name="skills" value="Linux">
         <label for="skill2"> Linux</label><br>
         <input type="checkbox" id="skill3" name="skills" value="APIs">
         <label for="skill3"> APIs</label><br>

        <!-- <select name="skills"   multiple>
         <br> <br> <br>
        <option value="Python">Python</option>
        <option value="Cpp">C++</option>
        <option value="Linux">Linux</option>
        <option value="Webscaping">Webscaping</option>
        </select>-->
        <br> <br> <br>
        <label for="workmode">Mode of work:</label>

        <select name="workmode" id="workmode">
        <option value="Remote">Remote</option>
        <option value="Physical">Physical</option>
        
        </select> 
        
        <br> <br>
        Work Location(if physical):<br> <input type="text" name="location">
         <br>
        

         Brief Description:<br> <input type="text" name="description">
         <br><br>
         <input type="submit" value="SUBMIT">

      </form>
      
   </body>
</html>