{%extends "base1.html" %}

{%block content%}
    <!-- <h2>You have been logged into Recruiter Profile</h2>
    <h2>You have been logged into Recruiter Profile</h2>
    <h2>You have been logged into Recruiter Profile</h2>
    <h2>You have been logged into Recruiter Profile</h2>
    <h2>You have been logged into Recruiter Profile</h2>
    <h2>You have been logged into Recruiter Profile</h2> -->

    <br><br><br><br><br><br><br><br>
    <h1>{{details.Company_name}}</h1>
    <h1>{{details.Company_website}}</h1>
    <h1>{{details.Company_linkedin}}</h1>
    <h1>{{details.Company_email}}</h1>
    

    
{%endblock content%} 