{% extends "base2.html" %}

{%block content%}
    <h2>You have been logged into Pcell Profile</h2>
    <!-- <h2>You have been logged into Pcell Profile</h2>
    <h2>You have been logged into Pcell Profile</h2>
    <h2>You have been logged into Pcell Profile</h2>
    <h2>You have been logged into Pcell Profile</h2>
    <h2>You have been logged into Pcell Profile</h2> -->

     <br><br><br><br><br><br><br><br>
    <h1>{{details.College_name}}</h1>
    <h1>{{details.College_website}}</h1>
    <h1>{{details.College_linkedin}}</h1>
    <h1>{{details.College_email}}</h1>
    
{%endblock content%} 